# **WEB SCRAPING - ASSIGNMENT 4**
Submitted by DARSHIK A S
___

In [ ]:
### import all required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

In [ ]:
### Load webdriver
driver = webdriver.Chrome('chromedriver.exe')

## **1) Scrape the details of most viewed videos on YouTube from Wikipedia**

In [ ]:
### Opening the wikipedia
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [ ]:
### Get rows from the table "Top 30 most-viewed YouTube videos"
table_rows = driver.find_element_by_class_name('wikitable').find_elements_by_xpath("tbody/tr")

In [ ]:
### Create empty list for storing data 
rank = []
name = []
artist = []
upload_date = []
views = []

In [ ]:
### Loop to scrape values from each rows
for i in table_rows:
    row_data = i.find_elements_by_tag_name('td') # Get row data elements
    rank.append(row_data[0].text.strip()[:-1]) # Scrape rank
    name.append(row_data[1].text.split('\"')[1]) # Scrape name
    artist.append(row_data[2].text) # scrape artist name
    views.append(row_data[3].text) # Scrape views
    upload_date.append(row_data[4].text) # Scrape video upload date

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    rank=rank,
    name=name,
    artist=artist,
    upload_date=upload_date,
    views_in_billions=views)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('Top 30 most-viewed YouTube videos.csv')
data

,rank,name,artist,upload_date,views_in_billions
0,1,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2,Despacito,Luis Fonsi,"January 12, 2017",7.23
2,3,Shape of You,Ed Sheeran,"January 30, 2017",5.20
3,4,See You Again,Wiz Khalifa,"April 6, 2015",4.99
4,5,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",4.87
5,6,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.41
6,7,Uptown Funk,Mark Ronson,"November 19, 2014",4.10
7,8,Gangnam Style,Psy,"July 15, 2012",3.99
8,9,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",3.72
9,10,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
10,11,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",3.59
11,12,Sorry,Justin Bieber,"October 22, 2015",3.41
12,13,Sugar,Maroon 5,"January 14, 2015",3.40
13,14,Roar,Katy Perry,"September 5, 2013",3.29
14,15,Counting Stars,OneRepublic,"May 31, 2013",3.21
15,16,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.20
16,17,Dame Tu Cosita,El Chombo,"April 5, 2018",3.14
17,18,Shake It Off,Taylor Swift,"August 18, 2014",3.02
18,19,Faded,Alan Walker,"December 3, 2015",3.00
19,20,Lean On,Major Lazer Official,"March 22, 2015",2.98
20,21,Dark Horse,Katy Perry,"February 20, 2014",2.98
21,22,Bailando,Enrique Iglesias,"April 11, 2014",2.98
22,23,Girls Like You,Maroon 5,"May 31, 2018",2.97
23,24,Let Her Go,Passenger,"July 25, 2012",2.92
24,25,Mi Gente,J Balvin,"June 29, 2017",2.87
25,26,Hello,Adele,"October 22, 2015",2.79
26,27,Perfect,Ed Sheeran,"November 9, 2017",2.76
27,28,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.75
28,29,Blank Space,Taylor Swift,"November 10, 2014",2.73
29,30,Chantaje,Shakira,"November 18, 2016",2.63

## **2) Scrape the details team India’s international fixtures from bcci.tv**

In [ ]:
### Opening the bcci.tv fixtures page
driver.get('https://www.bcci.tv/')

### Click on INTERNATIONAL drop down button
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//li[@class='navigation__item  ']"))).click() # Wait until the 'International' drop down button is clickable

### Click on fixtures
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//a[contains(text(),'Fixtures')]"))).click() # Wait until the 'Fixtures' in drop down list is clickable

In [ ]:
### Get list of fixtures
event_list = driver.find_elements_by_xpath("//a[contains(@class,'js-match')]")

In [ ]:
### Create empty list for storing data 
match_title = []
series = []
place = []
date = []
time = []

In [ ]:
### Loop to scrape data from each fixture
for match in event_list:
    
    ### Series
    series.append(match.find_element_by_class_name('fixture__format-strip').text.replace('\n',' '))
    
    ### Match Title
    match_title.append(match.find_element_by_class_name('fixture__additional-info').find_element_by_tag_name('strong').text)
    
    ### Place
    place.append(match.find_element_by_class_name('fixture__additional-info').find_element_by_tag_name('span').text)
    
    ### Find date and time element
    date_time = match.find_element_by_class_name('fixture__datetime').text.split('\n')
    date.append(' '.join(date_time[:-1])) # Date
    time.append(date_time[-1]) # Time

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    match_title=match_title,
    series=series,
    place=place,
    date=date,
    time=time)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('BCCI International fictures.csv')
data

,match_title,series,place,date,time
0,4th Test,TEST INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 04 MARCH,09:30 IST
1,1st T20I,T20I INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12 MARCH,19:00 IST
2,2nd T20I,T20I INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14 MARCH,19:00 IST
3,3rd T20I,T20I INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 MARCH,19:00 IST
4,4th T20I,T20I INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18 MARCH,19:00 IST
5,5th T20I,T20I INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20 MARCH,19:00 IST
6,1st ODI,ODI INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 MARCH,13:30 IST
7,2nd ODI,ODI INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26 MARCH,13:30 IST
8,3rd ODI,ODI INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 MARCH,13:30 IST
9,1st Test,TEST ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
10,2nd Test,TEST ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 AUGUST,15:30 IST
11,3rd Test,TEST ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
12,4th Test,TEST ENGLAND V INDIA 2021,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
13,5th Test,TEST ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

## **3) Scrape the details of selenium exception from guru99.com**

In [ ]:
### Opening the guru99 page
driver.get('https://www.guru99.com/')

### Click on Live Selenium Project
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//a[@title='Live Selenium Project']"))).click() # Wait until the link is clickable

### Click on Selenium Fundamentals
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.LINK_TEXT,"Selenium Fundamentals"))).click() # Wait until the link is clickable

### Click on Exception handling tutorial
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//a[contains(@title,'Selenium Exception Handling')]"))).click() # Wait until the link is clickable

In [ ]:
### Get list of exceptions
exception_list = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr")

In [ ]:
### Create empty list for storing data 
exception_name = []
desc = []

### Loop to scrape data from each row
for e in exception_list[1:]:
    
    ### find data elements of the row
    row = e.find_elements_by_tag_name('td') 
    exception_name.append(row[0].text) # Name of the exception
    desc.append(row[1].text) # Description about exception

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    exception_name=exception_name,
    description=desc)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('selenium exceptions list.csv')
data

,exception_name,description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## **4) Scrape the details of State-wise GDP of India from statisticstime.com**

In [ ]:
### Opening the statisticstimes page
driver.get('http://statisticstimes.com/')

### Click on Economy nav button
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//button[contains(text(),'Economy')]"))).click() # Wait until the link is clickable

### Click on India in the drop down list
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//button[contains(text(),'Economy')]/following-sibling::div/a[text()='India']"))).click() # Wait until the link is clickable

### Click on GDP of Indian states
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//a[contains(text(),'GDP of Indian states')]"))).click() # Wait until the link is clickable

In [ ]:
### Find the table row elements
table_rows = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr")

In [ ]:
### Create empty list to store data
rank = []
state = []
gsdp_19_20 = []
gsdp_18_19 = []
share_2018 = []
gdp = []

In [ ]:
### Loop to scrape data from each row
for row in table_rows:
    
    ### Find data elements from the row selected
    row_data = row.find_elements_by_tag_name('td')
    rank.append(row_data[0].text) # Rank
    state.append(row_data[1].text) # State
    gsdp_19_20.append(row_data[2].text) # GSDP in the year 19-20
    gsdp_18_19.append(row_data[3].text) # GSDP in the year 18-19
    share_2018.append(row_data[4].text) # Shares in 2018
    gdp.append(row_data[5].text) # GDP in billions

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    rank=rank,
    state=state,
    gsdp_19_20=gsdp_19_20,
    gsdp_18_19=gsdp_18_19,
    share_2018=share_2018,
    gdp=gdp)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('State-wise GDP of India.csv')
data

   rank                      state gsdp_19_20 gsdp_18_19 share_2018      gdp
0     1                Maharashtra          -  2,632,792     13.88%  398.145
1     2                 Tamil Nadu  1,845,853  1,630,208      8.59%  246.529
2     3              Uttar Pradesh  1,687,818  1,584,764      8.35%  239.656
3     4                    Gujarat          -  1,502,899      7.92%  227.276
4     5                  Karnataka  1,631,977  1,493,127      7.87%  225.798
5     6                West Bengal  1,253,832  1,089,898      5.75%  164.820
6     7                  Rajasthan  1,020,989    942,586      4.97%  142.543
7     8             Andhra Pradesh    972,782    862,957      4.55%  130.501
8     9                  Telangana    969,604    861,031      4.54%  130.210
9    10             Madhya Pradesh    906,672    809,592      4.27%  122.431
10   11                     Kerala          -    781,653      4.12%  118.206
11   12                      Delhi    856,112    774,870      4.08%  117.180
12   13                    Haryana    831,610    734,163      3.87%  111.024
13   14                      Bihar    611,804    530,363      2.80%   80.204
14   15                     Punjab    574,760    526,376      2.77%   79.601
15   16                     Odisha    521,275    487,805      2.57%   73.768
16   17                      Assam          -    315,881      1.67%   47.769
17   18               Chhattisgarh    329,180    304,063      1.60%   45.982
18   19                  Jharkhand    328,598    297,204      1.57%   44.945
19   20                Uttarakhand          -    245,895      1.30%   37.186
20   21            Jammu & Kashmir          -    155,956      0.82%   23.584
21   22           Himachal Pradesh    165,472    153,845      0.81%   23.265
22   23                        Goa     80,449     73,170      0.39%   11.065
23   24                    Tripura     55,984     49,845      0.26%    7.538
24   25                 Chandigarh          -     42,114      0.22%    6.369
25   26                 Puducherry     38,253     34,433      0.18%    5.207
26   27                  Meghalaya     36,572     33,481      0.18%    5.063
27   28                     Sikkim     32,496     28,723      0.15%    4.344
28   29                    Manipur     31,790     27,870      0.15%    4.215
29   30                   Nagaland          -     27,283      0.14%    4.126
30   31          Arunachal Pradesh          -     24,603      0.13%    3.721
31   32                    Mizoram     26,503     22,287      0.12%    3.370
32   33  Andaman & Nicobar Islands          -          -          -        -

## **5) Scrape the details of trending repositories on Github.com**

In [ ]:
### Opening the github page
driver.get('https://github.com/')

### Click on Explore nav button
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//summary[contains(text(),'Explore')]"))).click() # Wait until the link is clickable

### Click on Trending in the navigation list
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//a[contains(text(),'Trending')]"))).click() # Wait until the link is clickable

In [ ]:
### Find repository elements 
articles = driver.find_elements_by_class_name('Box-row')

In [ ]:
### Create empty list for storing data
rep_title = []
rep_desc = []
contrib_cnt = []
lang = []

In [ ]:
### Loop over each trending articles or repository
for repo in articles:
    
    ### Scrape the title
    rep_title.append(repo.find_element_by_class_name('h3').text.split('/')[1].strip())
    
    ### Scrape description and append '-' if description not available
    try:
        rep_desc.append(repo.find_element_by_tag_name('p').text)
    except NoSuchElementException:
        rep_desc.append('-')
        
    ### Scrape programming language and append '-' if language not available
    try:
        lang.append(repo.find_element_by_css_selector("span[itemprop='programmingLanguage']").text)
    except NoSuchElementException:
        lang.append('-')
        
    ### Count the number of contibutors 
    contrib_cnt.append(len(repo.find_elements_by_css_selector("span[class='d-inline-block mr-3'] a")))

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    rep_title=rep_title,
    rep_desc=rep_desc,
    contrib_cnt=contrib_cnt,
    lang=lang)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('github trending repositories.csv')
data

,rep_title,rep_desc,contrib_cnt,lang
0,PaddleGAN,"PaddlePaddle GAN library, including lots of in...",5,Python
1,flowchart-fun,A small app for making quick flowcharts from t...,2,TypeScript
2,GTAO_Booster_PoC,-,4,C
3,athens,Desktop app links: https://tinyurl.com/athens-...,5,Clojure
4,aws-sdk-go,AWS SDK for the Go programming language.,5,Go
5,firebase-ios-sdk,Firebase iOS SDK,5,Objective-C
6,FSCalendar,"A fully customizable iOS calendar library, com...",5,Objective-C
7,OpenCorePkg,OpenCore bootloader,5,C
8,basic-computer-games,"An updated version of the classic ""Basic Compu...",5,JavaScript
9,matrix-docker-ansible-deploy,"Matrix (An open network for secure, decentrali...",5,HTML
10,DeepFaceLab,DeepFaceLab is the leading software for creati...,5,Python
11,pyroscope,🔥 Continuous Profiling Platform 🔥 Debug perfor...,5,Go
12,excalidraw,Virtual whiteboard for sketching hand-drawn li...,5,TypeScript
13,macOS-Simple-KVM,"Tools to set up a quick macOS VM in QEMU, acce...",5,Shell
14,Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",5,JavaScript
15,jd_maotai_seckill,优化版本的京东茅台抢购神器,5,Python
16,googletest,Googletest - Google Testing and Mocking Framework,5,C++
17,front-end-interview-handbook,"🕸 No-bullshit answers to the famous h5bp ""Fron...",5,JavaScript
18,PyTorch-StudioGAN,StudioGAN is a Pytorch library providing imple...,5,Python
19,filament,The elegant TALL stack admin for Laravel artis...,5,PHP
20,ghidra,Ghidra is a software reverse engineering (SRE)...,5,Java
21,awesome-java,"A curated list of awesome frameworks, librarie...",5,-
22,CVPR2021-Paper-Code-Interpretation,cvpr2021/cvpr2020/cvpr2019/cvpr2018/cvpr2017 论...,5,-
23,brackets,"An open source code editor for the web, writte...",5,JavaScript
24,influxdb,"Scalable datastore for metrics, events, and re...",5,Go

## **6) Scrape the details of top 100 songs on billiboard.com**

In [ ]:
### Opening the billboard page
driver.get('https://www.billboard.com/')

### Click on HOT 100
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//a[contains(@class,'header__subnav__link') and contains(text(),'Hot 100')]"))).click() # Wait until the link is clickable

In [ ]:
### Find rows or elements containing song details
hot100 = driver.find_elements_by_class_name('chart-list__element')

In [ ]:
### Create empty list for storing data
song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
weeks_on_chart = []

In [ ]:
### Loop to iterate over songs
for song in hot100:
    
    ### Find song name
    song_name.append(song.find_element_by_class_name('chart-element__information__song').text)
    
    ### Find artist name
    artist_name.append(song.find_element_by_class_name('chart-element__information__artist').text)
    
    ### Find element having all the rank information
    meta = song.find_elements_by_css_selector("div.chart-element__meta")
    last_week_rank.append(meta[-3].text) # Last week rank
    peak_rank.append(meta[-2].text) # Peak rank
    weeks_on_chart.append(meta[-1].text) # Weeks on chart

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    song_name=song_name,
    artist_name=artist_name,
    last_week_rank=last_week_rank,
    peak_rank=peak_rank,
    weeks_on_chart=weeks_on_chart)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('billboard hot 100.csv')
data

,song_name,artist_name,last_week_rank,peak_rank,weeks_on_chart
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

## **7) Scrape the details of Data science recruiters from naukri.com**

In [ ]:
### Opening the naukri page
driver.get('https://www.naukri.com/')

### Select the Recruiters nav element
WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
    (By.XPATH,"//a[contains(@title,'Search Recruiters')]"))).click() # Wait until the element can be selected

### Get the window handle of new window
child_window_handle = driver.window_handles[1]

### Swtich control to the new child window
driver.switch_to.window(child_window_handle)

In [ ]:
### Find the elements of search field
skill_field = driver.find_element_by_xpath("//div[@id='skill']/div/div/input") # Skill field
search_button = driver.find_element_by_id('qsbFormBtn') # Search button

### Search for 'Data Science'
skill_field.clear() # Clear the field
skill_field.send_keys('Data Science') # Insert Data Science as input
search_button.click() # Click send

In [ ]:
### Create empty list for storing data
name = []
desig = []
company = []
skill = []
loc = []

In [ ]:
### Initializing page count
count = 0

### Set flag for page limit
page_limit = 5 # The scraping should stop after 5th page. To scrape all available details, set it to a large number

### Loop over each page
while count < page_limit:

    ### Find elements containg the recruiters details
    recruiters_cards = WebDriverWait(driver, 20).until(EC.presence_of_all_elements_located((By.CLASS_NAME,"recSec")))

    ### Loop to iterate over each card or recruiter details
    for rec in recruiters_cards:

        ### Find the element having name, designation and company
        details = rec.find_elements_by_tag_name('span')[:3]
        name.append(details[0].text) # Name
        desig.append(details[1].text) # Designation
        company.append(details[2].text) # Company Name

        ### Get the location of the recruiter
        try:
            loc.append(rec.find_element_by_css_selector('small.ellipsis').text)
        except NoSuchElementException:
            loc.append('-') # Insert '-' if location not found

        ### Get the description of skills hiring for
        try:
            skill.append(rec.find_element_by_css_selector('div.hireSec').text)
        except NoSuchElementException:
            skill.append('-') # Insert '-' if description not found
            
    ### Increment count variable
    count = count + 1
        
    ### Break when count reaches the page limit
    if count == page_limit:
        break
    
    ### Click on next page
    try:
        driver.find_element_by_xpath("//div[@class='pagination']/button[text()='Next']").click()
    except NoSuchElementException:
        break # Break if next page dont exist

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    name=name,
    designation=desig,
    company=company,
    skill_hiring_for=skill,
    loc=loc)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('naukri recruiters.csv')
data

,name,designation,company,skill_hiring_for,loc
0,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine...",Pune
...,...,...,...,...,...
245,Human Resource Team,Human Resource,Milpitas,"Artificial Intelligence, Machine Learning, Dee...",Milpitas
246,Raja Reddy,Company HR,Hyderabad / Secunderabad,".Net, Java, C++, Windows, Qa, Middleware, Scm",Hyderabad / Secunderabad
247,Monika Tyagi,Talent Acquisition Specialist,Delhi,Manager Level,Delhi
248,Vyshak,HR Advisor,Bengaluru / Bangalore,"Business Analysis, Financial Analysis, Market ...",Bengaluru / Bangalore
249,Aquib Khan,Company HR,Noida,"Visual Design, Ux/ Design, Front End, Hybris, ...",Noida

## **8) Scrape the details of Highest selling novels**

In [ ]:
### Opening the webpage
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [ ]:
### Get row elements from the table
books_rows = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr")

In [ ]:
### Create empty lists for storing data
title = []
author = []
volume = []
publisher = []
genre = []

In [ ]:
### Loop to iterate over each rows in the book table
for row in books_rows:
    
    ### Get data elements inside the row
    row_data = row.find_elements_by_tag_name('td')
    title.append(row_data[1].text) # Title of the book
    author.append(row_data[2].text) # Name of the author
    volume.append(row_data[3].text) # Volumne of books published
    publisher.append(row_data[4].text) # Name of the publisher
    genre.append(row_data[5].text) # Genre of the book

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    title=title,
    author=author,
    volume=volume,
    publisher=publisher,
    genre=genre)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('top 100 best seelling books.csv')
data

,title,author,volume,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## **9) Scrape the details most watched tv series of all time from imdb.com**

In [ ]:
### Opening the imdb page
driver.get('https://www.imdb.com/list/ls095964455/')

In [ ]:
### Find the list of elements having the series details
series_list = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']")

In [ ]:
### Create empty lists for storing data
name = []
year_span = []
genre = []
runtime = []
ratings = []
votes = []

In [ ]:
### Loop over each series and scrape details
for series in series_list:
    name.append(series.find_element_by_css_selector('h3.lister-item-header > a').text) # Name of series
    year_span.append(series.find_element_by_css_selector('span.lister-item-year').text) # year span
    genre.append(series.find_element_by_class_name('genre').text) # genre
    runtime.append(series.find_element_by_class_name('runtime').text) # runtime
    ratings.append(series.find_element_by_class_name('ipl-rating-star__rating').text) # ratings
    votes.append(series.find_element_by_css_selector("span[name='nv']").text) # Number of votes

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    name=name,
    year_span=year_span,
    genre=genre,
    runtime=runtime,
    ratings=ratings,
    votes=votes)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('top 100 most watched tv shows.csv')
data

,name,year_span,genre,runtime,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,777,849"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,499"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,586"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,162"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,673"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,761"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,077"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,177"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,193"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,811"

## **10) Details of Datasets from UCI machine learning repositories**

In [ ]:
### Opening the UCI machine learning page
driver.get('https://archive.ics.uci.edu/')

### Click on view all dataset
driver.find_element_by_xpath("//a[text()='view all data sets']").click()

In [ ]:
### Find the row elements of the dataset table
datasets = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr")[1:]

In [ ]:
### Create empty lists for storing data
dataset_name = []
data_type = []
task = []
attribute_type = []
instances = []
attributes = []
year = []

In [ ]:
### Loop over each dataset
for dataset in datasets:
    
    ### Get the details of each dataset
    details = dataset.find_elements_by_css_selector("tr > td")[2:]
    fill_empty = lambda x: '-' if x.text.strip() == '' else x.text.strip() # Function to replace empty values with '-'
    details = [fill_empty(i) for i in details] # Replace all the empty values
    
    ### Append data to the lists
    dataset_name.append(details[0]) # Name of the dataset
    data_type.append(details[1]) # Data type
    task.append(details[2]) # Default task type
    attribute_type.append(details[3]) # Types of attributes
    instances.append(details[4]) # Number of instances
    attributes.append(details[5]) # Number of attributes
    year.append(details[6]) #year

In [ ]:
### Create dictionary of the scraped data
data_dict = dict(
    dataset_name=dataset_name,
    data_type=data_type,
    default_task=task,
    attribute_types=attribute_type,
    no_of_instances=instances,
    no_of_attributes=attributes,
    year=year)

### Create data frame of the dictionary data and save as csv file
data = pd.DataFrame(data_dict)
data.to_csv('UCI Machine learning dataset details.csv')
data

,dataset_name,data_type,default_task,attribute_types,no_of_instances,no_of_attributes,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,-,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,-,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020